[

	{
		"name": "homepage",
		"template": "home.pagetemplate",
		"include": {
			"header": "home.header",
			"body": "home.body",
			"footer": "home.footer"
		}
	},
	
	{
		"name": "userpage",
		"template": "user.pagetemplate",
		"include": {
			"header": "user.header",
			"body": "user.body",
			"footer": "user.footer"
		}
	}
	
]